<!-- Filter Datatable Options Starts -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="px-4">
                    <form class="form" #f="ngForm" (ngSubmit)="onSubmit()" >
                        <div class="form-body">
                            <h4 class="form-section"><i class="fa fa-map-o"></i> {{villeEscaleSelected.uid ? villeEscaleSelected.ville : 'Nouvelle ville d\'escale'}}</h4>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="pay">Pays</label>
                                        <ng-select id="pay"
                                           [items]="pays"
                                           [virtualScroll]="true"
                                           bindLabel="name" bindValue="name" placeholder="Selectionner le pays" appendTo="body"
                                           [(ngModel)]="villeEscaleSelected.pays" name="pays" required
                                           (select)="onSelected($event)"
                                           #pay="ngModel">
                                        </ng-select>
                                        <div [hidden]="pay.valid || pay.pristine" class="alert alert-danger">
                                            pays invalid !
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="ville">Ville</label>
                                        <input type="text" id="ville" class="form-control"
                                               placeholder="Ville"
                                               [(ngModel)]="villeEscaleSelected.ville" name="ville" required
                                               #ville="ngModel" [ngModelOptions]="{updateOn: 'blur'}">

                                        <div [hidden]="ville.valid || ville.pristine"
                                             class="alert alert-danger">
                                            ville invalid !
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="address">Adresse</label>
                                <input type="text" id="address" class="form-control"
                                       placeholder="Adresse"
                                       [(ngModel)]="villeEscaleSelected.address" name="address"
                                       #address="ngModel" [ngModelOptions]="{updateOn: 'blur'}">
                            </div>

                            <div style="width: 100%">

<!--                                <div class="form-group">-->
<!--                                    <mat-google-maps-autocomplete-->
<!--                                            [country]="villeEscaleSelected.pays"-->
<!--                                            type="address"-->
<!--                                            placeholderText="Adresse sur maps"-->
<!--                                            id="address" [(ngModel)]="villeEscaleSelected.address" name="address"-->
<!--                                            (onAutocompleteSelected)="onAutocompleteSelected($event)"-->
<!--                                            (onLocationSelected)="onLocationSelected($event)"-->
<!--                                            (onGermanAddressMapped)="onGermanAddressMapped($event)">-->
<!--                                    </mat-google-maps-autocomplete>-->
<!--                                </div>-->

                                <div class="form-group" style="height: 250px;">
                                    <agm-map
                                        [latitude]="latitude"
                                        [longitude]="longitude"
                                        [scrollwheel]="true"
                                        [zoom]="zoom">
                                        <agm-marker
                                            [latitude]="latitude"
                                            [longitude]="longitude"
                                            [markerDraggable]="true"
                                            (dragEnd)="markerDragEnd($event)"></agm-marker>
                                    </agm-map>
                                </div>


                            </div>


                        </div>

                        <div class="form-actions">
                            <button type="button" class="btn btn-raised btn-raised btn-warning mr-1" (click)="d('Cross click')">
                                <i class="ft-x"></i> Annuler
                            </button>
                            <button type="submit" class="btn btn-raised btn-raised btn-primary" [disabled]="!f.valid">
                                <i class="fa fa-check-square-o"></i>  {{villeEscaleSelected.uid ? 'Modifier':'Ajouter'}}
                            </button>
                        </div>
                    </form>
                </div>
</ng-template>


<section id="filter" class="mb-3">
    <div class="row text-left">
        <div class="col-12">
            <div class="content-header"><i class="fa fa-map-o"></i> Ville d'escale</div>
            <p class="content-sub-header">Tables with some actions and with more feathers.</p>
        </div>
    </div>

    <section class="taskboard-app-form bg-blue-grey bg-lighten-5">
        <div class="card">
            <div class="card-body pt-3 text-left">
                <form class="taskboard-app-input row">
                    <fieldset class="position-relative has-icon-left col-md-4 col-12 mb-1">
                        <button type="button" class="btn btn-raised btn-primary px-4 mb-0" style="width: 100%" (click)="openAdd(content)">
                            <i class="ft ft-plus-circle d-lg-none d-xl-inline-block"></i>
                            <span class="d-lg-inline-block d-none ml-1">Nouveau</span>
                        </button>
                    </fieldset>
                    <fieldset class="position-relative has-icon-left col-md-6 col-12 mb-1">
                        <div class="form-control-position">
                            <i class="icon-emoticon-smile"></i>
                        </div>
                        <input type="text" class="form-control" id="todoMessage" placeholder='Chercher' (keyup)='updateFilter($event)'>
                    </fieldset>

                    <fieldset class="position-relative has-icon-left col-md-2 col-12 mb-1 add-task-btn">
                        <button type="button" class="btn btn-raised btn-primary px-4 mb-0">
                            <i class="ft ft-search d-lg-none d-xl-inline-block"></i>
                            <span class="d-lg-inline-block d-none ml-1">Chercher</span>
                        </button>
                    </fieldset>
                </form>
            </div>
        </div>
    </section>

    <section class="taskboard-app-form bg-blue-grey bg-lighten-5">
        <div class="card">
             <ngb-tabset
                 type="pills"
                 [justify]="currentJustify"
             >
            <ngb-tab>
                <ng-template ngbTabTitle><b><i class="fa fa-th-list"></i> Tableau ville d'escale</b></ng-template>
                <ng-template ngbTabContent>
                    <div class="row">
                        <div class="col-sm-12">
                            <ngx-datatable
                                    [rows]="villeEscales$ | async"
                                    [loadingIndicator]="true"
                                    [swapColumns]="true"
                                    class='bootstrap'
                                    [columns]="columns"
                                    [columnMode]="columnMode"
                                    [headerHeight]="40"
                                    [footerHeight]="40"
                                    [rowHeight]="'auto'"
                                    [reorderable]="true"
                                    [limit]="10"
                                    (select)="onSelect($event)"
                            >

                                <ngx-datatable-column name="createdDate">
                                    <ng-template let-column="column" ngx-datatable-header-template> Date </ng-template>
                                    <ng-template let-value="value" ngx-datatable-cell-template>
                                        <strong>{{ toDate(value) | date:'dd/MM/yyyy HH:mm'  }}</strong>
                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column name="createdByDisplayName">
                                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                        <span (click)="sort()">Acteur</span>
                                    </ng-template>
                                    <ng-template let-row="value" let-value="value" ngx-datatable-cell-template>
                                        <strong>{{ value ? value:'admin'  }}</strong>
                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column name="pays">
                                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                        <span (click)="sort()"> Pays</span>
                                    </ng-template>
                                    <ng-template let-row="value" let-value="value" ngx-datatable-cell-template>
                                        <strong>{{ value }}</strong>
                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column name="ville">
                                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                        <span (click)="sort()"> Ville</span>
                                    </ng-template>
                                    <ng-template let-row="value" let-value="value" ngx-datatable-cell-template>
                                        <strong>{{ value }}</strong>
                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column name="address">
                                    <ng-template let-column="column" ngx-datatable-header-template>Adresse</ng-template>
                                    <ng-template let-value="value" ngx-datatable-cell-template>
                                        <strong>{{ value }}</strong>
                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column name="uid">
                                    <ng-template let-column="column" ngx-datatable-header-template>Actions</ng-template>
                                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                        <strong>
                                            <a class="success p-0" data-original-title="" title="" (click)="openEdite(content,row)">
                                                <i class="ft-edit-2 font-medium-3 mr-2"></i>
                                            </a>
                                            <a class="danger p-0" data-original-title="" title="" (click)="confirmCancelButton(value)">
                                                <i class="ft-x font-medium-3 mr-2"></i>
                                            </a>
                                        </strong>
                                    </ng-template>
                                </ngx-datatable-column>

                            </ngx-datatable>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>

            <ngb-tab>
                <ng-template ngbTabTitle><b><i class="fa fa-map-marker"></i> Géolocalisation ville d'escale</b></ng-template>
                <ng-template ngbTabContent>
                        <div class="row">
                            <div class="col-sm-12">
                                <agm-map
                                        [latitude]="latitude"
                                        [longitude]="longitude"
                                        [scrollwheel]="true"
                                        [zoom]="zoom"
                                        style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px;background-color: rgb(229, 227, 223);"
                                >
                                    <agm-marker
                                            [latitude]="latitude"
                                            [longitude]="longitude"
                                            [markerDraggable]="true"
                                            (dragEnd)="markerDragEnd($event)"></agm-marker>
                                </agm-map>
                            </div>
                        </div>
                </ng-template>
            </ngb-tab>

        </ngb-tabset>
        </div>
    </section>

</section>